<%= render 'layouts/header'; %>

<div id="podcast_show">
  <div id="show_banner">
    <div class="wrapper_skinny">
      <h1><%= @podcast.title %></h1>
    </div>
  </div>

  
 <div id="links">
    <div class="wrapper_skinny">
      <ul>
        <li><%= link_to "Lessons", root_path, class: "button button_highlight button_block" %></li>
        <li><%= link_to "New Lesson", new_podcast_episode_path(@podcast), class: "button button_highlight button_block" %></li>
        <li><%= link_to "Account Settings", edit_podcast_registration_path, class: "button button_highlight button_block" %></li>
        <li><%= link_to "View Podcast", podcast_path(current_podcast), class: "button button_highlight button_block" %></li>
      </ul>
    </div>
  </div>
<a href="https://twitter.com/intent/tweet?button_hashtag=LessonPOds" class="twitter-hashtag-button" data-size="large" data-related="shiks_tony">Tweet #LessonPOds</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<hr>
  <div id="episodes">
    <div class="wrapper_skinny">
      <ul class="cf">
        <% @episodes.each do |episode| %>
          <li class="cf">
            <div class="episode_thumbnail">
              <a href="episode.html">
                <%= image_tag episode.episode_thumbnail.url(:medium) %>
              </a>
            </div>
            <div class="episode_overview">
              <h2><%= link_to episode.title, podcast_episode_path(@podcast, episode) %></h2>
              <p class="description"><%= truncate(episode.description, lenght: 160) %></p>
              <div class="authorized_links">
                <%= link_to "Edit", edit_podcast_episode_path(@podcast, episode), class: "button button_danger" %>
                <%= link_to "Delete", podcast_episode_path(@podcast, episode), method: :delete, data: {confirm: "Are you sure?"} %>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="container" id="testimonials">
  <a class="twitter-timeline" data-lang="en" data-width="293" data-height="500" data-theme="dark" href="https://twitter.com/TwitterDev/lists/national-parks">A Twitter List by TwitterDev</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

<div class="pagination">
<span class="previous_page disabled">Previous</span>
<em class="current">1</em>
<a href="#">2</a>
<a class="next_page" href="#">Next</a>
</div>